
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MailFunnels | Error </title>

  <%= stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => 'reload'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'%>
  <%= javascript_include_tag 'pages/login.js' %>

</head>

<body class="login">
<div>

  <div class="col-md-12">
    <div class="col-middle">
      <div class="text-center text-center">
        <br/>
        <h1 class="error-number">Sorry</h1>
        <h2 style="color: white;">Sorry, but there seems to be a problem with our servers.</h2>
        <p style="color: white;">Please try again later.</p>
        <div class="mid_center">

        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>


