<% content_for :error do %>
    <script type="text/javascript">
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                icon: '/mailfunnels-logo.jpg'
            });
        });
    </script>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
          <h1 class="mf_error">Sorry!</h1>
          <h2>You do not have access to this page.</h2>
          <p>Your account has been disabled, please contact support if your account should not have been disabled</p>
        </div>
      </div>
    </div>


<% end %>



