<% content_for :javascript do %>
    <script type="text/javascript">
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                icon: '/mailfunnels-logo.jpg',
                buttons: {
                    primary: [
                        { label: 'Kickstarter Appointment',
                            message: 'mf_kickstart_support',
                            callback: function(){
                                Calendly.showPopupWidget('https://calendly.com/mailfunnels/kickstart'); return false;
                            }
                        }
                    ],
                    secondary: [
                        { label: 'Facebook Group',
                            message: 'facebook_group',
                            callback: function(){
                                window.open('https://www.facebook.com/groups/1899392843717613/', '_blank');
                            }
                        },
                        { label: 'Become an Affiliate',
                            message: 'mailfunnels_affiliate',
                            callback: function(){
                                window.open('http://mailfunnels.com/jv', '_blank');
                            }
                        },
                        { label: 'Support Ticket',
                            message: 'support_group',
                            callback: function(){
                                window.open('https://mailfunnels.freshdesk.com/support/tickets/new', '_blank');
                            }
                        }
                    ]
                }
            });
        });
    </script>

    <script>
        $(function() {
            $('.left_col').height($('.right_col').height());
        });
    </script>

    <div class="hidden">
      <input id="current_app_id" type="number" value="<%= @app.id %>"/>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <div class="title_left">
            <img class="mf_head_logo" src="/mf_logos/mf_logo_text.png"/>
            <h3><small class="mf_head_title">Support</small></h3>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <hr class="fade-2"/>


    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Support Link</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p>Need MailFunnels Help? <a class="text-primary" href="https://mailfunnels.freshdesk.com/support/tickets/new" target="_blank">Submit a ticket here.</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="x_panel">
          <div class="x_title">
            <h2>Getting Started</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
             <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TyT8d8V0fTM" frameborder="0" allow="encrypted-media" allowfullscreen mozallowfullscreen webkitallowfullscreen></iframe>
              </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="x_panel">
          <div class="x_title">
            <h2>Cart Abandonment</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/xB538kQ0Zx0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="x_panel">
          <div class="x_title">
            <h2>Post Purchase</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/CZu1535WS8k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="x_panel">
          <div class="x_title">
            <h2>Win Back Campaigns</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Iw1XdJk4lac" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>


    </div>



<% end %>



