<% content_for :javascript do %>
    <script type="text/javascript">
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                icon: '/mailfunnels-logo.jpg'
            });
        });
    </script>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
          <h1 class="error-number" style="color: black">Sorry!</h1>
          <h2>Trial users do not have access to this feature.</h2>
          <p>Upgrade your account to access this features and more.</p>
          <a href="<%= root_url %>account" class="btn btn-primary btn-sm">Choose Plan</a>
        </div>
      </div>
    </div>


<% end %>



